.idea
/.htaccess
!/bitrix/templates
/bitrix/admin
/bitrix/backup
/bitrix/cache
/bitrix/catalog_export
/bitrix/components
/bitrix/css
/bitrix/fonts
/bitrix/gadgets
/bitrix/image_uploader
/bitrix/images
/bitrix/js
/bitrix/managed_cache
/bitrix/modules
/bitrix/otp
/bitrix/panel
/bitrix/php_interface
/bitrix/services
/bitrix/sounds
/bitrix/stack_cache
/bitrix/themes
/bitrix/tmp
/bitrix/tools
/bitrix/updates
/bitrix/wizards
/bitrix/.access.php
/bitrix/.settings.php
/bitrix/coupon_activation.php
/bitrix/default_js.js
/bitrix/footer.php
/bitrix/header.php
/bitrix/index.php
/bitrix/license_key.php
/bitrix/p3p.xml
/bitrix/rss.php
/bitrix/spread.php
/bitrix/urlrewrite.php
/bitrix/virtual_file_system.php
/bitrix/web.config
/upload
/local/php_interface/constants.php
/*.txt
/*.html
~*.php
*.log
*.xml
/*.sql
Thumbs.db
.DS_Store
._.DS_Store
web.config
